body {
    background-color: #003C43;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#introduction {
    color: #E3FEF7;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#about-me {
    background-color: #77B0AA;
}

.color-text {
    color: #E3FEF7;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal; 
    font-size: 70px;
}

#projects {
    background-color: #80AF81;
}
